Fly:
	ActivationKey:F
	MovementType:Fly
	Right:C_RIGHTFLYCYCLE
	Back:BACKFLYPRE
	Left:C_LEFTFLYCYCLE
	Forward:A_FLYPOSE1
	Still:FLYREADY
	Down:FLIGHT_TO_HOVER_TRANS
	Up:FLYUPCYCLE
Run:
	ActivationKey:R
	MovementType:Run
	Back:C_RUNBACKPRE
	Forward:C_RUNCYCLE
	Left:RUN_LEFT_PRE
	Right:RUN_RIGHT_PRE
	Up:W_JUMPTOHOP
	Still:C_RUNPOST
	Down:C_RUNFALL
Jump:
	ActivationKey:J
	MovementType:Jump
	Forward:W_JUMPAPEX
	Still:W_JUMPPOST
	Down:JUMPJETPACKFORWARD_FALL2
	Up:JUMPJETPACK_UP
	Left:HOP
	Right:HOP
	Back:NINJA_JUMP_FALL
NinjaJump:
	ActivationKey:N
	MovementType:NinjaJump
	Left:NINJA_JUMP_FALL_CYCLE2
	Right:NINJA_JUMP_FALL_CYCLE2
	Forward:NINJA_JUMP_FALL_CYCLE2
	Back:NINJA_JUMP_FALL2
	Up:W_JUMPUP
	Down:NINJA_JUMP_FALL
	Still:NINJA_JUMP_POST
Swim:
	ActivationKey:M
	MovementType:Swim
	Left:SWIMLEFTCYCLE
	Right:SWIMRIGHTCYCLE
	Forward:SWIMCYCLE
	Back:SWIMBACKCYCLE
	Up:SWIMBACKCYCLE
	Down:SWIMCYCLE
	Still:SWIM_READY
IceSlide:
	ActivationKey:L
	MovementType:IceSlide
	Left:ICESLIDECYCLE_L
	Right:W_ICESLIDECYCLE_R
	Forward:W_ICESLIDECYCLE
	Back:W_ICESLIDECYCLE_B
	Up:W_ICESLIDECYCLE
	Down:W_ICESLIDECYCLE_B
	Still:COSTUME_COMBATREADY
SteamJumpJetpack:
	ActivationKey:T
	MovementType:SteamJumpJetpack
	Left:CALL_HAWK_POST
	Right:STEAM_JUMPJETPACKFORWARD_UP
	Forward:STEAM_JUMPJETPACKFORWARD_UP
	Up:STEAM_JUMPJETPACKFORWARD_UP
	Back:STEAM_2HLARGE_JUMPJETPACKFORWARD_FALL
	Down:STEAM_JUMPJETPACKFORWARD_FALL2
	Still:FAKE_CFLYREADY
Knockback:
	ActivationKey:K
	MovementType:Knockback
	Left:PLAYERKNOCKBACK
	Right:PLAYERKNOCKBACK
	Forward:AIR_DEATH_FALL
	Back:PLAYERKNOCKBACK
	Up:STEAM_JUMPJETPACK_UP
	Down:PLAYERKNOCKBACK_APEX
	Still:IMPACT_DEATH
Walk:
	ActivationKey:G
	MovementType:Walk
	Back:SKILL_WALKBACKPRE
	Left:WALK_LEFT_CYCLE
	Right:WALK_RIGHT_CYCLE
	Forward:PLAYER_WALK_FORWARD
	Up:W_JUMPTOHOP
	Down:C_RUNFALL
	Still:COSTUME_COMBATREADY
Beast:
	ActivationKey:B
	MovementType:Beast
	Left:BEAST_LEFT
	Right:BEAST_RIGHT
	Forward:BEAST_FORWARD
	Back:BEAST_BACK
	Up:BEAST_RUN_JUMPAPEX
	Down:MON_JUMPFALL
	Still:MON_JUMPPOST
	:A_INITIAL_STRIKE_C_POST

